// COLOURS
$color-main: #f29424;
$color-secondary: #343434;
$color-white: #fff;
$color-grey-light-1: #f4f4f4;

/////////////////////////////////////////////////
// BREAKPOINTS
$bp-phone: 767px;
$bp-tablet: 1023px;
$bp-laptop-l: 1326px;
$bp-4k: 1441px;
